@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/metricas.css);
@import url(styles/vagas.css);


:root {
    --fonte-principal: "Inter";
    --cor-de-fundo: #FFFFFF;
    --cinza-escuro: #3A404E;
    --cinza-padrao: #667085;
    --vermelho-escuro: #8E2424;
    --preto: #101828;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 500;
}